
<ion-header> 

  <ion-toolbar color="dark">
      <ion-buttons slot="start"><ion-button color="light" (click)="control.back()"><ion-icon name="arrow-back"></ion-icon></ion-button></ion-buttons>    
      <ion-title>{{'ABOUT'|translate}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">

      <div *ngIf="control.lang=='en'">
          <p><b>QR geomap</b> is a project that aims to provide the easiest way to use and share basic maps for outdoor activities.</p>
          <p>The idea is to use <b>a single image file</b>, which will logically contain the map of an area (possibly with a track, markers or any other annotations directly painted on the image), but the image will also contain a <b>QR code</b> superimposed (on the upper right corner) which after being decoded will provide the geographical coordinates necessary to <b>geolocate the map</b>.</p>            
          <div class="centered">
              <img src="assets/sample.png" class="border1"/>
          </div>
          <p>This app (<b>QRgeomap.com</b>) allows to load an image file (a "QR geomap"), geolocates the map and shows it on screen next to the user's live location ( <ion-icon name="locate"></ion-icon> ), thus facilitating a "basic navigation" on the map.</p>
          <p>To <b>load a map</b> image with this app click the map button ( <ion-icon name="map"></ion-icon> ) and then browse your device to select a map image.</p>
          <p>This app is built with modern web technologies that can even <b>work offline</b>, provided it has been used previously and the map image is saved on the device.</p>
          <p>On the other hand, this app also provides a function to <b>create maps</b> ( <ion-icon name="create-outline"></ion-icon> ). With this we can load a "track" file (GPX format) and generate a map with the track drawn on it (like the image above), which can be <b>downloaded</b> as an image for later use. It also includes the option to host (<b>publish</b>) the generated map, obtaining a <b>direct link</b> so it can be easily used and shared.</p>          
          <p>Otherwise, if the image is hosted on the internet: qrgeomap.com can be called passing the image address (URL) as a parameter (?i=).<br><span class="smaller-text">Ex: To load the sample map which is located at https://www.qrgeomap.com/assets/sample.png, you can use this link: <a href="https://www.qrgeomap.com/?i=https://www.qrgeomap.com/assets/sample.png">https://www.qrgeomap.com/?i=https://www.qrgeomap.com/assets/sample.png</a></span></p>
          <br>
          <p><i>More information about the project: <a href="https://project.qrgeomap.com" target="_blank"><b>https://project.qrgeomap.com</b></a></i></p>
        </div>

      <div *ngIf="control.lang=='es'">
        <p><b>QR geomap</b> es un proyecto que tiene como objetivo proporcionar la forma más fácil de usar y compartir mapas básicos para actividades al aire libre.</p>
        <p>La idea es usar <b>un solo archivo de imagen</b>, que lógicamente contendrá el mapa de un área (posiblemente con una ruta, marcadores o cualesquiera otras anotaciones directamente pintadas en la imagen), pero la imagen contendrá además un <b>Código QR</b> superpuesto (en la esquina superior derecha) que después de ser decodificado proporcionará las coordenadas geográficas necesarias para <b>geolocalizar el mapa</b>.</p> 
        <div class="centered">
            <img src="assets/sample.png" class="border1"/>
        </div>
        <p>Esta aplicación (<b>QRgeomap.com</b>) permite cargar un archivo de imagen (un "QR geomap"), geolocaliza el mapa y lo muestra en pantalla junto a la ubicación en vivo del usuario ( <ion-icon name="locate"></ion-icon> ), facilitando así una "navegación básica" en el mapa.</p>
        <p>Para <b>cargar un mapa</b> con esta aplicación hay que pulsar el botón de mapa ( <ion-icon name="map"></ion-icon> ) y luego seleccionar una imagen de mapa que esté guardada en el dispositivo.</p>
        <p>Esta aplicación utiliza tecnologías web modernas que permiten que pueda incluso <b>funcionar sin conexión</b>, siempre que se haya usado alguna vez previamente y la imagen del mapa esté guardada en el dispositivo.</p>
        <p>Por otra parte, esta aplicación también incorpora una función para <b>crear mapas</b> básicos ( <ion-icon name="create-outline"></ion-icon> ). Con esto podremos cargar un archivo de "track" (formato GPX) y generar un mapa con el track dibujado sobre él (como la imagen de arriba), que se podrá <b>descargar</b> como imagen para su uso posterior. También incluye la opción de alojar (<b>publicar</b>) el mapa generado, obteniendo un <b>enlace directo</b> para poder utilizarlo y compartirlo fácilmente.</p>
        <p>Otra opción, si la imagen está alojada en internet: se puede llamar a qrgeomap.com pasando por parámetro (?i=) la dirección (URL) de la imagen.<br><span class="smaller-text">Ej: Para cargar el mapa de ejemplo que está ubicado en https://www.qrgeomap.com/assets/sample.png, se puede usar este enlace: <a href="https://www.qrgeomap.com/?i=https://www.qrgeomap.com/assets/sample.png">https://www.qrgeomap.com/?i=https://www.qrgeomap.com/assets/sample.png</a></span></p>
        <br>
        <p><i>Más información sobre el proyecto: <a href="https://project.qrgeomap.com" target="_blank"><b>https://project.qrgeomap.com</b></a></i></p>
    </div>

</ion-content>
