
<ion-header>

  <ion-toolbar color="dark">
      <ion-buttons slot="start"><ion-button color="light" (click)="control.back()"><ion-icon name="arrow-back"></ion-icon></ion-button></ion-buttons>    
      <ion-title>{{'CREATE_MAP'|translate}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

    <div class="createmap_steps_bg"> 

        <ion-accordion-group #accordionGroup class="ion-padding">

            <ion-accordion value="1">
                <ion-item slot="header" color="dark">
                    <ion-label><span class="number_circle">1</span> {{'LOAD_TRACK'|translate}}</ion-label>
                </ion-item>
                <div slot="content">
                    <ion-list lines="none">
                        <ion-item>
                            <div class='fake_file_input_ion_item-btn_container-div'> 
                                <div class="fake_file_input_ion_item-btn_behind">
                                    <ion-icon class="item-icon-ionicon" name='folder-outline'></ion-icon> <span text-wrap>{{'LOAD_TRACK_FILE'|translate}}</span>
                                </div>
                                <input id="input_map_menu" style="cursor:pointer;" type="file" class="fake_file_input_ion_item-btn_transparent-input" (change)="onTrackFileSelected($event)" />
                            </div>                    
                        </ion-item>
                        <div *ngIf="track_loaded">
                            <div class="info">
                                <div><b>{{track.filename}}</b></div>
                                <div>{{'POINTS'|translate}}: {{track.points.length}}</div>
                                <div>{{'WAYPOINTS'|translate}}: {{track.waypoints.length}}</div>
                                <div>{{'TOTAL_DISTANCE'|translate}} (m): {{track.total_distance}}</div>
                                <div>{{'CUMULATIVE_ELEVATION_GAIN'|translate}} (m): {{track.cumulative_elevation_gain}}</div>
                            </div>
                        </div>
                    </ion-list>
                </div>
            </ion-accordion>
    
            <ion-accordion value="2" *ngIf="track_loaded">
                <ion-item slot="header" color="dark">
                    <ion-label><span class="number_circle">2</span> {{'GET_MAP'|translate}}</ion-label>
                </ion-item>
                <div slot="content">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label>{{'MAP_PROVIDER'|translate}}</ion-label>
                            <ion-select interface="popover" style='max-width: 100%;' [(ngModel)]="map_provider" (ionChange)="onChangeMapProvider()">
                                <ion-select-option value="mapbox_satellite">Mapbox satellite</ion-select-option>
                                <ion-select-option value="mapbox_outdoors">Mapbox outdoors</ion-select-option>
                                <ion-select-option value="mapbox_satellite+outdoors">Mapbox satellite+outdoors</ion-select-option>
                                <ion-select-option value="openstreetmap">OpenStreetMap</ion-select-option>
                                <ion-select-option value="cyclosm">CyclOSM</ion-select-option> 
                                <ion-select-option value="opentopomap">OpenTopoMap</ion-select-option> 
                            </ion-select>
                        </ion-item>
                        <div class="ion-padding">
                            <ion-button (click)="getMap()"><ion-icon name="map-outline"></ion-icon>&nbsp; {{'GET_MAP'|translate}}</ion-button>
                        </div>
                    </ion-list>
                </div>
            </ion-accordion>
    
            <ion-accordion value="3" *ngIf="track_loaded && got_map">
                <ion-item slot="header" color="dark">
                    <ion-label><span class="number_circle">3</span> {{'DRAW_MAP'|translate}}...</ion-label>
                </ion-item>
                <div slot="content">
                    <ion-list lines="full">
                        <ion-item>
                            <ion-label>{{'COLOR'|translate}}</ion-label>
                            <div style="margin-top: 4px;">
                                <div *ngFor="let color of colors" class="bot_color" [style]="colorStyle(color)" (click)="setColor(color)"></div>
                            </div>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'LINE_WIDTH'|translate}}</ion-label>
                            <div style="min-width:150px;">
                                <ion-range [ticks]="true" [snaps]="true" [min]="1" [max]="5" [(ngModel)]="line_width"></ion-range>                
                            </div>
                        </ion-item>
                        <div class="points_container">
                            <div class="points_subtitle">{{'POINTS'|translate}}</div>
                            <div class="items_border">
                                <ion-item *ngFor="let point of points">
                                    <ion-input [(ngModel)]="point.name" [disabled]="!point.visible"></ion-input>
                                    <ion-toggle slot="end" [(ngModel)]="point.visible"></ion-toggle>
                                </ion-item>  
                            </div>
                        </div>

                        <ion-item>
                            <ion-label position="stacked">{{'MAP_TITLE'|translate}}</ion-label>
                            <ion-input placeholder="" [(ngModel)]="map_title"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="stacked">{{'QR_SOURCE_LINK'|translate}}</ion-label>
                            <ion-input placeholder="" [(ngModel)]="source_link"></ion-input>
                        </ion-item>
                        <div id="qr_link_note">{{'QR_SOURCE_LINK_NOTE'|translate}}</div>
                        
                        <div class="ion-padding">
                            <ion-button (click)="redrawMap()"><ion-icon name="refresh-outline"></ion-icon>&nbsp; {{'DRAW'|translate}}</ion-button>
                        </div>

                    </ion-list>
                </div>
            </ion-accordion>
    
        </ion-accordion-group>

    </div>


    <div class="createmap_map_bg ion-padding" *ngIf="imageSrc!=''">

        <img id='theImage' width="100%" src='{{ imageSrc }}'/>

        <div *ngIf="mapReady">
            <p><ion-button (click)="downloadMap()"><ion-icon name="download-outline"></ion-icon>&nbsp; {{'DOWNLOAD'|translate}}</ion-button></p>
            <p class="note" *ngIf="!publishData">{{'DOWNLOAD_NOTE'|translate}}</p>
        </div>

    </div>

    <div id="publish_map" *ngIf="mapReady && mapIsPublishable()">
        <div *ngIf="!publishData">
            <div style="font-size:larger;"><span class="publish_map_title">{{'PUBLISH_MAP_TITLE'|translate}}</span></div><br>
            <div>{{'PUBLISH_MAP_SUBTITLE'|translate}}</div>
            <p><a role="button" (click)="control.showLegal(true)"><span class="legal_link">{{'LEGAL_ALL'|translate}}</span></a></p>
            <p><ion-button [disabled]="!mapReady" (click)="publishMap()"><ion-icon name="cloud-upload-outline"></ion-icon>&nbsp; {{'PUBLISH_MAP'|translate}}</ion-button></p>
        </div>
        <div *ngIf="publishData">
            <div class="publish_map_title"><b>{{'PUBLISHED_MAP_OK_TEXT'|translate}}</b></div><br>
            <div>
                {{'PUBLISHED_MAP_URL_TEXT'|translate}}<br><br>
                <span style="font-size:larger;margin-right:20px;"><b><a href="{{publishData.url}}" target="_blank">{{publishData.url}}</a></b></span>
                <ion-button size="small" (click)="control.copyToClipboard(publishData.url)"><ion-icon name="copy-outline"></ion-icon>&nbsp; {{'COPY'|translate}}</ion-button>
            </div>
            <div class="note">
                <br>{{'PUBLISHED_MAP_PRIVATE_KEY_TEXT'|translate}}
                <br><br><b>{{publishData.key}}</b>
            </div>
        </div>
    </div>



</ion-content>
