<ion-app>
  
  <ion-menu side="end" menuId="menuId" contentId="main" swipe-gesture="false">

    <ion-content>
  

      <div id="menu_header">
          <img src="assets/qrgeomap-header-128x32.png" style="height:32px;" />
          <div style="margin-top:20px;">{{'HEADER_TEXT'|translate}}</div>
      </div>
      
      <ion-list lines="full">


        <ion-item button (click)="control.navigate('about',{})">
            <span text-wrap class="small-letter"> {{'ABOUT'|translate}}</span>
        </ion-item>

        <ion-item button (click)="control.showLegal(true)">
            <span text-wrap class="small-letter"> {{'LEGAL_ALL'|translate}}</span>
        </ion-item>

        <ion-item-divider></ion-item-divider>
      
        <ion-item>
            <div class='fake_file_input_ion_item-btn_container-div'> 
                <label for="input_map_menu" class="fake_file_input_ion_item-btn_behind">
                    <ion-icon class="item-icon-ionicon" name='map-outline'></ion-icon> <span text-wrap>{{'LOAD_MAP'|translate}}</span>
                </label>
                <input id="input_map_menu" style="cursor:pointer;" type="file" accept="image/*" class="fake_file_input_ion_item-btn_hide-input" (change)="onMapFileSelected($event)" />
            </div>                    
        </ion-item>
    
        <ion-item button (click)="control.navigate('create-map',{})">
          <ion-icon class="item-icon-ionicon" name='create-outline'></ion-icon><span text-wrap class="small-letter"> {{'CREATE_MAP'|translate}}</span>
       </ion-item>


      </ion-list>



      <ion-modal [isOpen]="control.isLegalModalOpen" [canDismiss]="control.canDismissLegalModal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>{{'LEGAL'|translate}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="control.showLegal(false)"><ion-icon name="checkmark-circle-outline" size="large"></ion-icon></ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <app-legal></app-legal>
          </ion-content>
        </ng-template>
      </ion-modal>


    </ion-content>
  
  
  </ion-menu>

  
  <ion-router-outlet id="main"></ion-router-outlet>


</ion-app>
