
#menu_header {
    padding: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: white;
    background: url("/assets/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}


ion-icon {
    color:black;
}