/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";






// --------------- custom --------------


.list-md {
    padding-top: 0;
    padding-bottom: 0;
}


/* Used in alerts, to allow text selection ! */
.my-custom-alert-class {
    user-select: text!important;
}


.fake_file_input_ion_item-btn_container-div {
    display: table; margin: 0 auto;   // center
    position: relative;
    margin:0px;
    padding:0px;
    width: 100%; 
    height: 34px; 
    overflow: hidden;
}

.fake_file_input_ion_item-btn_hide-input {
    position: absolute; 
    bottom: -100000000px;

}

.fake_file_input_ion_item-btn_transparent-input {
    position: absolute; 
    font-size: 36px; 
    width: 100%; 
    opacity: 0; 
    filter:alpha(opacity=0); 
}



.fake_file_input_ion_item-btn_behind {
    cursor:pointer;    
    position: absolute; 
    vertical-align: middle;
    width: 100%; 
    height: 100%; 
    padding-top: 2px;
}




  
  .item-icon-ionicon {
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 16px;
    margin-left: 0px;
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
  
  
  
  
  