<ion-header>

    <!-- The toolbar: title + open map + about  -->

    <ion-toolbar color="primary">

      <ion-title>
          <img src="assets/qrgeomap_com_title.png" class="title_img" />
      </ion-title>



      <ion-buttons slot="end">

          <ion-menu-toggle slot="end">
                <ion-button fill="clear" style="margin-inline-start:16px;margin-inline-end:16px;"><ion-icon name="menu" style="color:white;"></ion-icon></ion-button>
          </ion-menu-toggle>

      </ion-buttons>

    </ion-toolbar>

    <!-- Secondary bar: "Source" of the loaded map -->

    <ion-toolbar color="light" *ngIf="loaded_map && loaded_map_url!='' && source_bar_visible">
          <ion-title>
              <div id="source_bar">
                  <div>{{'SOURCE'|translate}}: <a href="{{loaded_map_url}}" target="_blank">{{loaded_map_url}}</a></div>
              </div>
          </ion-title>
          <ion-buttons slot="end">
              <ion-button (click)="hideSourceBar()"><ion-icon name="close-outline" style="font-size:26px;"></ion-icon></ion-button>
          </ion-buttons>
    </ion-toolbar>


</ion-header>



<ion-content>

  <!-- Content: map + locate button  -->

    <div id="container">

        <ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top:2px;">

            <ion-fab-button color="primary" style="cursor:pointer;" *ngIf="!loaded_map">
                <label for="input_map_fab" class="input_map_fab_fake"><ion-icon name="map"></ion-icon></label>
                <input id="input_map_fab" type="file" class="input_map_fab_hide" accept="image/*" (change)="onMapFileSelected($event)">
            </ion-fab-button>
            
            <ion-fab-button color="tertiary" style="margin-top:6px;" (click)="watchPosition()" [class]="watchPositionID?'blink':'none'">
                <ion-icon name="locate"></ion-icon>
            </ion-fab-button>

        </ion-fab>

        <!-- Container for the Leaflet map -->
        <div id="mapId">
        </div>

    </div>
  



</ion-content>


